#main-title {
    text-align: center;
}

#button-container {
    display: flex;
    gap: 2em;
    justify-content: center;
}

#main-container {
    display: flex;
    gap: 2em;
    padding: 3em;
}

#main-section {
    max-width: 75%;
}

#book-content-container {
    display: flex;
    padding: 1em;
    gap: 2em;
}

#book-content {
    max-width: 50%;
}
